@charset "UTF-8";

header
{
    display: block;
    width: 100%;
}

header
{
    text-align: center;
}

header img
{
    width: 50%;
}

header h1
{
    color: white;
}

body
{
    /*background-image: url("maquette_background.png");*/
    background-color: white;
}

main
{
    display: inline-block;
    margin: 0 auto;
    background-color: #3fb498;
}

@media (min-width: 750px), (min-width: 4.4in)
{
    main
    {
	width: 50%;
	border-radius: 12px;
	padding: 10px;
    }
}

h2
{
    color: white;
    text-align: center;
}

a.next,
a.previous
{
    display: inline-block;
    border-radius: 6px;
    padding: 10px;
    margin:  15px 30px;
    
    color: #0a1223;
    text-align: center;
    
    text-decoration: none;
}

a.next
{
    background-color: white;
}

a.previous
{
    background-color: blue;
}

ul.buttons
{
    list-style-type: none;
    list-style-position: inside;
    
    margin:  0;
    padding: 0;
    
    text-align: center;
}

ul.buttons,
ul.buttons li
{
    list-style-type: none;
    list-style-position: inside;
}

form
{
    text-align: center;
}

form input
{
    margin: 15px;
    padding: 10px 5px;
    
    border-style: none;
    border-radius: 5px;
}

form input:not([type="submit"])
{
    border-color: #ffce32;
}
